<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Isolunch</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" type="text/css" href="css/search/_component.css" />
</head>
<body>
<div class="container">
  <div id="morphsearch" class="morphsearch">
    <form class="morphsearch-form">
      <input class="morphsearch-input" type="search" placeholder="Sök..."/>
      <button class="morphsearch-submit" type="submit">Sök</button>
    </form>
    <div class="morphsearch-content">
      <div class="result">
        <h2>TRÄFFAR</h2>
        <a href="" class="item-name">Åsas mackor</a>
      </div>
      <div class="column">
        <h2>Dagens tips</h2>
        <a class="morpsearch-object" href="">
          <h3>Ekens Ravioli</h3>
        </a>
      </div>
      <div class="column">
        <h2>Populära</h2>
        <a class="morpsearch-object" href="">
          <h3>Åsas mackor</h3>
        </a>
        <a class="morpsearch-object" href="">
          <h3>Kælles Pølse</h3>
        </a>
        <a class="morpsearch-object" href="">
          <h3>Fredriks bärs & burgare</h3>
        </a>
      </div>
      <div class="column">
        <h2>Senaste</h2>
        <a class="morpsearch-object" href="">
          <h3>Pers pannkakor</h3>
        </a>
        <a class="morpsearch-object" href="">
          <h3>Fredriks bärs & burgare</h3>
        </a>
      </div>
    </div><!-- /morphsearch-content -->
    <span class="morphsearch-close"></span>
  </div><!-- /morphsearch -->
  <header>
    <img src="images/isotop_logo_vit_150.png">
    <!-- 			<div class="morphsearch-search">
                    <span class="fontawesome-search"></span>
                </div> -->
  </header>
  <div class="overlay"></div>
  {% block content %}
  {% endblock %}
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script src="scripts/main.js"></script>
<script src="scripts/classie.js"></script>
</body>
</html>
