# Laravel
Homestead.yaml
Homestead.json

# WordPress application
public/content/plugins/*
!public/content/plugins/.gitkeep
public/content/mu-plugins/*/
public/content/upgrade
public/content/uploads/*
!public/content/uploads/.gitkeep

# WordPress
public/wp
public/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Vagrant
bin
.vagrant

# Node Package Manager
node_modules

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Markup
markup/bower_components
