.restaurant-grid {
	max-width: 100%;
	padding: 0 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: row wrap;

	.grid-item {
		margin: 0 5px 40px 0;
	}

	img {
		width: 100%;
		border-radius: 4px 4px 0 0;
		vertical-align: top;
	}

	.text-wrapper {
		padding: 10px 20px 20px;
		background: #fff;
		border-radius: 0 0 4px 4px;

		p {
			margin: 0px;
			line-height: 22px;
			font-size: 14px;
		}

		a {
			color: #3399cc;
			text-decoration: none;

            &:hover {
                color: #ecebe9;
            }
		}

		.item-name {
			margin-bottom: 5px;
			font-family: 'Enriqueta-Regular', 'Georgia', serif;
			font-size: 20px;
		}

        .item-comment {
            span {
                font-style: italic;
                display: inline-block;
                max-height: 42px;
                max-width: 250px;
                overflow: hidden;
            }
        }
	}
}

.item-address {
    span {
        color: #999;
        font-size: 14px;
    }
}

.item-tags {

    [class*="fontawesome-"]:before {
        margin-left: 5px;
    }
}

.item-type {
    margin-bottom: 10px;

    span {
        margin-right: 5px;
        display: inline-block;
        padding: 2px 4px;
        background: #cc3366;
        color: #fff;
    }
}


.item-rate {

   [class*="fontawesome-"]:before {
        color: #ffdb00;
    }
}

.item-links {

   [class*="fontawesome-"]:before {
        margin-right: 5px;
    }
}
