@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url("../fonts/enriqueta/Enriqueta-Regular.ttf"); }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }

body {
  font-family: Arial, sans-serif; }

h1, h2, h3 {
  font-family: 'Enriqueta-Regular', 'Georgia', serif; }

.filters {
  margin: 20px;
  padding: 10px 20px;
  background: #fff; }
  .filters span {
    font-size: 14px;
    margin-right: 10px; }
    .filters span:before, .filters span .amount {
      margin-right: 5px;
      cursor: pointer; }
    .filters span .amount {
      font-weight: bold; }
    .filters span.active:before, .filters span.active .amount {
      color: #cc3366; }
  .filters span.fontawesome-double-angle-down {
    float: right;
    margin-right: 0;
    cursor: pointer; }
  .filters .filter-full {
    display: none; }
    .filters .filter-full.open {
      display: block; }
    .filters .filter-full .type-title {
      font-family: 'Enriqueta-Regular', 'Georgia', serif;
      font-size: 16px;
      padding: 5px 0;
      margin: 10px 0;
      border-top: 1px solid #ecebe9; }
    .filters .filter-full .item-type {
      margin-right: 5px;
      display: inline-block;
      padding: 2px 4px;
      background: #fff;
      color: #cc3366;
      cursor: pointer; }
      .filters .filter-full .item-type.active {
        background: #cc3366;
        color: #fff; }

@media screen and (max-width: 53.125em) {
  .filters span {
    font-size: 18px; }
  .filters .hide-mobile {
    display: none; }
  .filters .filter-food {
    padding-top: 15px; } }

.restaurant-grid {
  max-width: 100%;
  padding: 0 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .restaurant-grid .grid-item {
    margin: 0 5px 40px 0; }
  .restaurant-grid img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    vertical-align: top; }
  .restaurant-grid .text-wrapper {
    padding: 10px 20px 20px;
    background: #fff;
    border-radius: 0 0 4px 4px; }
    .restaurant-grid .text-wrapper p {
      margin: 0px;
      line-height: 22px;
      font-size: 14px; }
    .restaurant-grid .text-wrapper a {
      color: #3399cc;
      text-decoration: none; }
      .restaurant-grid .text-wrapper a:hover {
        color: #ecebe9; }
    .restaurant-grid .text-wrapper .item-comment span {
      font-style: italic;
      display: inline-block;
      max-height: 42px;
      max-width: 250px;
      overflow: hidden; }

.restaurant-grid p.item-name, .item-name {
  margin-bottom: 5px;
  font-family: 'Enriqueta-Regular', 'Georgia', serif;
  font-size: 20px; }
  .restaurant-grid p.item-name a, .item-name a {
    color: #000; }

.item-address span {
  color: #999;
  font-size: 14px; }

.item-tags [class*="fontawesome-"]:before {
  margin-left: 5px; }

.item-type {
  margin-bottom: 10px; }
  .item-type span {
    margin-right: 5px;
    display: inline-block;
    padding: 2px 4px;
    background: #cc3366;
    color: #fff; }

.item-rate [class*="fontawesome-"]:before {
  color: #ffdb00; }

.item-links [class*="fontawesome-"]:before {
  margin-right: 5px; }

.morphsearch .morphsearch-input {
  text-align: right; }

.morphsearch.open .morphsearch-input {
  text-align: left; }

.morphsearch .column h2 {
  font-size: 20px; }

.morphsearch .morphsearch-content {
  max-width: 80%; }

.morphsearch div:nth-child(3) {
  margin: 0 5%; }

header {
  padding: 10px 20px;
  background: rgba(204, 51, 102, 0.8);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  header a {
    text-decoration: none; }
  header [class*="fontawesome-"]:before {
    font-size: 30px;
    color: #fff; }

body {
  background: #ecebe9; }

.container {
  width: 100%;
  margin: auto; }

.single {
  margin: 20px auto;
  padding: 10px 20px;
  background: #fff;
  max-width: 1200px; }
  .single .img-wrapper {
    float: left;
    margin-right: 20px; }
  .single .text-wrapper {
    width: 35%;
    float: left; }
    .single .text-wrapper .item-type {
      margin-bottom: 10px; }
      .single .text-wrapper .item-type span {
        margin-right: 5px;
        display: inline-block;
        padding: 2px 4px;
        background: #cc3366;
        color: #fff; }
  .single .comments-wrapper {
    border-top: 1px solid #ecebe9;
    max-width: 700px; }
    .single .comments-wrapper p {
      font-size: 14px; }
      .single .comments-wrapper p .author-name {
        font-weight: bold; }

/*@import "search/_component";
@import "search/_demo";*/

/*# sourceMappingURL=main.css.map */
