@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@font-face {
  font-family: 'Enriqueta-Regular';
  src: url("../fonts/enriqueta/Enriqueta-Regular.ttf"); }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }

body {
  font-family: Arial, sans-serif; }

h1, h2, h3 {
  font-family: 'Enriqueta-Regular', 'Georgia', serif; }

/* Comment on single restaurant */
.comments-wrapper form {
  font-size: 14px; }
  .comments-wrapper form h3 {
    margin: 5px 0; }
  .comments-wrapper form p {
    margin: 15px 0;
    font-style: italic; }
  .comments-wrapper form input[type="text"],
  .comments-wrapper form textarea {
    width: 70%;
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 4px; }
    @media all and (max-width: 678px) {
      .comments-wrapper form input[type="text"],
      .comments-wrapper form textarea {
        width: 90%; } }
  .comments-wrapper form textarea {
    height: 5em; }
  .comments-wrapper form label[for="comment"] {
    display: block;
    margin: 10px 0 5px; }
  .comments-wrapper form input[type="submit"] {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    background-color: #3399cc;
    color: #fff;
    clear: both; }

.comments-wrapper .item-rate [class*="fontawesome-"]:before {
  color: #ffdb00; }

.comments-wrapper .rating {
  float: left;
  border: none;
  margin-bottom: 20px; }

.comments-wrapper .rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0); }

.comments-wrapper .rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 105%;
  line-height: 1.2;
  color: #ddd; }

.comments-wrapper .rating > input:checked ~ label {
  color: #f70; }

.comments-wrapper .rating:not(:checked) > label:hover,
.comments-wrapper .rating:not(:checked) > label:hover ~ label {
  color: gold; }

.comments-wrapper .rating > input:checked + label:hover,
.comments-wrapper .rating > input:checked + label:hover ~ label,
.comments-wrapper .rating > input:checked ~ label:hover,
.comments-wrapper .rating > input:checked ~ label:hover ~ label,
.comments-wrapper .rating > label:hover ~ input:checked ~ label {
  color: #ea0; }

.filters {
  margin: 20px 0;
  padding: 10px 20px;
  background: #fff; }
  .filters span {
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer; }
    .filters span:before, .filters span .amount {
      margin-right: 5px; }
    .filters span .amount {
      font-weight: bold; }
    .filters span.active:before, .filters span.active .amount {
      color: #cc3366; }
  .filters .filter-full {
    display: none; }
    .filters .filter-full.open {
      display: block; }
    .filters .filter-full .type-title {
      font-family: 'Enriqueta-Regular', 'Georgia', serif;
      font-size: 16px;
      padding: 5px 0;
      margin: 10px 0;
      border-top: 1px solid #ecebe9; }
    .filters .filter-full .item-type {
      margin-right: 5px;
      display: inline-block;
      padding: 2px 4px;
      background: #fff;
      color: #cc3366;
      cursor: pointer; }
      .filters .filter-full .item-type.active {
        background: #cc3366;
        color: #fff; }

.filters .filter-tags p.counter {
  font-weight: 700;
  display: inline-block;
  float: right;
  margin: 0; }
  .filters .filter-tags p.counter span {
    margin: 0 3px; }
  .filters .filter-tags p.counter span.fontawesome-double-angle-down {
    margin-right: 0;
    cursor: pointer; }

@media screen and (max-width: 53.125em) {
  .filters span {
    font-size: 18px; }
  .filters .hide-mobile {
    display: none; }
  .filters .filter-food {
    padding-top: 15px; } }

.restaurant-grid {
  /* column-width: 300px;
  column-gap: 15px;
  width: 98%;*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1920px;
  margin: 20px 10px; }
  .restaurant-grid figure {
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    transition: opacity .4s ease-in-out;
    display: inline-block;
    /*column-break-inside: avoid;*/
    background: #fff; }
  .restaurant-grid .img-wrapper {
    width: 280px;
    height: 150px;
    border-radius: 4px 4px 0 0;
    vertical-align: top;
    position: relative;
    background-size: cover;
    background-position: center center; }
    .restaurant-grid .img-wrapper.fallback a.go-to {
      color: #000; }
    .restaurant-grid .img-wrapper a.go-to {
      text-align: right;
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 4px; }
  .restaurant-grid .text-wrapper {
    padding: 10px;
    border-radius: 0 0 4px 4px;
    /*display: none;

    &.open {
      display: block;
    }*/ }
    .restaurant-grid .text-wrapper .item-comment span {
      font-style: italic;
      display: inline-block;
      max-height: 42px;
      max-width: 250px;
      overflow: hidden; }
  @media all and (max-width: 948px) {
    .restaurant-grid figure {
      width: 30%;
      vertical-align: top; }
    .restaurant-grid .img-wrapper {
      width: 100%; }
    .restaurant-grid .text-wrapper {
      display: block; } }
  @media all and (max-width: 678px) {
    .restaurant-grid figure {
      width: 100%;
      margin: 0 0 15px; }
      .restaurant-grid figure .img-wrapper {
        width: 47%;
        display: inline-block; }
      .restaurant-grid figure .text-wrapper {
        width: 48%;
        float: right;
        padding: 10px 0; } }

.title-holder {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); }
  .title-holder .read-more {
    color: #fff;
    text-align: left;
    padding: 5px;
    margin: 0;
    display: block;
    cursor: pointer; }

.text-wrapper a {
  color: #3399cc;
  text-decoration: none; }
  .text-wrapper a:hover {
    color: #ecebe9; }

.text-wrapper p {
  margin: 0px;
  line-height: 22px;
  font-size: 14px; }
  @media all and (max-width: 678px) {
    .text-wrapper p {
      font-size: 16px; } }

.restaurant-grid p.item-name, .item-name {
  margin-bottom: 5px;
  font-family: 'Enriqueta-Regular', 'Georgia', serif;
  font-size: 20px;
  padding-left: 10px; }
  .restaurant-grid p.item-name a, .item-name a {
    color: #000; }

.item-address span {
  color: #999;
  font-size: 14px; }

.item-tags [class*="fontawesome-"]:before {
  margin-left: 5px; }

.item-type {
  margin-bottom: 10px; }
  .item-type span {
    margin-bottom: 4px;
    display: inline-block;
    padding: 2px 4px;
    background: rgba(204, 51, 102, 0.8);
    color: #fff;
    cursor: pointer; }
    .item-type span.active {
      background: #cc3366;
      color: #fff;
      border: 1px dotted; }

.item-rate [class*="fontawesome-"]:before {
  color: #ffdb00; }

.item-links [class*="fontawesome-"]:before {
  margin-right: 5px; }

.morphsearch .morphsearch-input {
  text-align: right; }

.morphsearch.open .morphsearch-input {
  text-align: left; }

.morphsearch .column h2 {
  font-size: 20px; }

.morphsearch .morphsearch-content {
  max-width: 80%; }

.morphsearch div:nth-child(3) {
  margin: 0 5%; }

.morphsearch .result a.item-name {
  text-decoration: none;
  padding: 0.75em;
  display: inline-block;
  margin: 0 0.3em 0.3em 0;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(118, 117, 128, 0.05); }
  .morphsearch .result a.item-name h3 {
    color: #000;
    margin: 0 0 0 0;
    display: inline-block;
    font-size: 19px; }
  .morphsearch .result a.item-name:hover {
    background: rgba(118, 117, 128, 0.1); }
    .morphsearch .result a.item-name:hover h3 {
      color: #ec5a62; }

header {
  padding: 10px 20px;
  background: rgba(204, 51, 102, 0.8);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  header a {
    text-decoration: none; }
    header a img {
      padding-top: 4px; }
  header [class*="fontawesome-"]:before {
    font-size: 30px;
    color: #fff; }

body {
  background: #ecebe9; }

.container {
  width: 100%;
  margin: auto; }

.single {
  margin: 20px auto;
  padding: 10px 20px;
  background: #fff;
  max-width: 1200px; }
  @media all and (max-width: 678px) {
    .single {
      padding: 10px 5px; } }
  .single .img-wrapper {
    float: left;
    margin-right: 20px; }
    .single .img-wrapper img {
      width: 300px; }
  .single .text-wrapper {
    width: 55%;
    float: left; }
    .single .text-wrapper .item-type {
      margin-bottom: 10px; }
      .single .text-wrapper .item-type span {
        margin-right: 5px;
        display: inline-block;
        padding: 2px 4px;
        background: #cc3366;
        color: #fff; }
  .single .left {
    width: 60%;
    padding-right: 20px;
    display: inline-block;
    vertical-align: top; }
    .single .left .post-content {
      display: inline-block;
      float: left;
      overflow: hidden;
      clear: both;
      font-size: 14px; }
    .single .left h1 {
      margin-top: 0; }
    @media all and (max-width: 678px) {
      .single .left {
        width: 100%; } }
  @media all and (max-width: 678px) {
    .single iframe {
      display: none; } }
  .single .comments-wrapper {
    border-top: 1px solid #ecebe9;
    max-width: 700px; }
    .single .comments-wrapper p {
      font-size: 14px; }
      .single .comments-wrapper p .author-name {
        font-weight: bold; }

.food_truck {
  width: 280px;
  height: 150px;
  border-radius: 4px 4px 0 0;
  vertical-align: top;
  position: relative;
  padding: 20px; }
  .food_truck h1 {
    font-size: 20px;
    color: hotpink; }

/*@import "search/_component";
@import "search/_demo";*/

/*# sourceMappingURL=main.css.map */
