/* Comment on single restaurant */

.comments-wrapper {

  form {
    font-size: 14px;

    h3 {
      margin: 5px 0;
    }

    p {
      margin: 15px 0;
      font-style: italic;
    }

    input[type="text"],
    textarea {
      width: 70%;
      border: 1px solid lightgrey;
      border-radius: 2px;
      padding: 4px;

      @media all and (max-width: 678px) {
        width: 90%;
      }
    }

    textarea {
      height: 5em;
    }

    label[for="comment"] {
      display: block;
      margin: 10px 0 5px;
    }

    input[type="submit"] {
      display: block;
      margin-top: 10px;
      padding: 5px 10px;
      border-radius: 2px;
      border: none;
      background-color: #3399cc;
      color: #fff;
      clear: both;
    }
  }
  .item-rate [class*="fontawesome-"]:before {
    color: #ffdb00;
  }

  .rating {
    float:left;
    border: none;
    margin-bottom: 20px;
  }

  .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:105%;
    line-height:1.2;
    color:#ddd;
  }

  .rating > input:checked ~ label {
    color: #f70;
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: gold;
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #ea0;
  }


}
